<a class="list-group-item">
	<div class="pull-left">
		<h4 class="list-group-item-heading">{{name}} - <small>{{ created_at }}</small></h4>
		<p class="list-group-item-text">{{ description }}</p>
	</div>
	<div class="btn-group pull-right">
		<button class="btn btn-xs btn-primary editTask">Edit</button>
		<button class="btn btn-xs btn-danger deleteTask">Delete</button>
	</div>
	<div class="clearfix"></div>
</a>
