<!DOCTYPE html>
<html>
<head>
  <title>Scrummage</title>
  	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="">
		<div id="header"></div>
		<div id="alert" class="container-fluid"></div>
		<div id="content" class="container-fluid"></div>
		<div id="footer"></div>
	</div>

<%= yield %>

</body>
</html>
